<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <div>{{person.name}}</div>
    <div>{{person.email}}</div>
    <div>
        <form action="/person/{{id}}/modify" method="POST" name="changeCredentials">
            <fieldset>
                <legend>Modificați datele</legend>
                Nume: <input type="text" name="name" id="name"/><label for="name"></label><br />
                Email: <input type="text" name="email" id="email"/><label for="email"></label><br />
                <button type="submit">Editați</button>
            </fieldset>
        </form>
    </div>
    <div>
        <a href="/person/{{person.id}}/delete"><button type="button" value="delete">Ștergeți contact</button></a>
    </div>
    <table>
        <thead>
            <tr><td>Numere de telefoane</td></tr>
        </thead>
        {{#phoneNumberList}}
            <tr>
                <td>{{.}}</td>
            </tr>
        {{/phoneNumberList}}
    </table>
</body>
</html>