<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Nume</td>
                <td>Email</td>
            </tr>
        </thead>
        {{#listOfPersons}}
            <tr>
                <td><a href="/person/{{person.id}}">{{person.name}}</a></td>
                <td>{{person.email}}</td>
                <td>
                    <ol>
                        {{#person.phoneNumbers}}
                            <li>{{.}}</li>
                        {{/person.phoneNumbers}}
                    </ol>
                </td>
            </tr>
        {{/listOfPersons}}
    </table>
    <form action="/persons" method="POST" name="changeCredentials">
        <fieldset>
            <legend>Adăugați contact</legend>
            Nume: <input type="text" name="name" id="name"/><label for="name"></label><br />
            Email: <input type="text" name="email" id="email"/><label for="email"></label><br />
            <button type="submit">Adăugați persoană</button>
        </fieldset>
    </form>
</body>
</html>